{
  "openapi": "3.1.0",
  "info": {
    "title": "ALPNAI Sandbox API",
    "version": "0.1.0",
    "description": "Dated source evidence for authorized agents. No real cryptocurrency settlement. Private Sites also require platform access.",
    "contact": {
      "email": "frederic@alpnor.com"
    }
  },
  "servers": [
    {
      "url": "https://alpnai.com"
    }
  ],
  "paths": {
    "/api/v1/snapshot": {
      "get": {
        "operationId": "purchase_snapshot",
        "summary": "Sandbox purchase. No real settlement.",
        "security": [
          {
            "AgentKey": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-ALPNAI-Mode",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sandbox"
              ]
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,100}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox receipt and evidence"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized agent"
          },
          "403": {
            "description": "Budget exhausted"
          },
          "409": {
            "description": "Idempotency conflict"
          },
          "503": {
            "description": "Service or live payment unavailable"
          }
        }
      }
    },
    "/api/v1/changes": {
      "get": {
        "operationId": "purchase_changes",
        "summary": "Sandbox purchase. No real settlement.",
        "security": [
          {
            "AgentKey": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-ALPNAI-Mode",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sandbox"
              ]
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,100}$"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox receipt and evidence"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized agent"
          },
          "403": {
            "description": "Budget exhausted"
          },
          "409": {
            "description": "Idempotency conflict"
          },
          "503": {
            "description": "Service or live payment unavailable"
          }
        }
      }
    },
    "/api/v1/evidence": {
      "get": {
        "operationId": "purchase_evidence",
        "summary": "Sandbox purchase. No real settlement.",
        "security": [
          {
            "AgentKey": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-ALPNAI-Mode",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sandbox"
              ]
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,100}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox receipt and evidence"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized agent"
          },
          "403": {
            "description": "Budget exhausted"
          },
          "409": {
            "description": "Idempotency conflict"
          },
          "503": {
            "description": "Service or live payment unavailable"
          }
        }
      }
    },
    "/api/v1/catalog": {
      "get": {
        "operationId": "get_catalog",
        "summary": "Free catalog",
        "responses": {
          "200": {
            "description": "JSON data"
          }
        }
      }
    },
    "/api/v1/sample": {
      "get": {
        "operationId": "get_sample",
        "summary": "Free sample",
        "responses": {
          "200": {
            "description": "JSON data"
          }
        }
      }
    },
    "/api/v1/spend-proof": {
      "post": {
        "summary": "Free audit of cost per successful agent task. No payment and no trace persistence.",
        "security": [
          {
            "agentKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "runs"
                ],
                "properties": {
                  "runs": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1000,
                    "items": {
                      "type": "object",
                      "required": [
                        "task_id",
                        "workflow",
                        "variant",
                        "cost_usd",
                        "success"
                      ],
                      "properties": {
                        "task_id": {
                          "type": "string"
                        },
                        "workflow": {
                          "type": "string"
                        },
                        "variant": {
                          "enum": [
                            "baseline",
                            "candidate"
                          ]
                        },
                        "cost_usd": {
                          "type": "number",
                          "minimum": 0
                        },
                        "success": {
                          "type": "boolean"
                        },
                        "latency_ms": {
                          "type": "number",
                          "minimum": 0
                        }
                      }
                    }
                  },
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conditional analysis, no realized-savings or deployment claim."
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Active test agent key required"
          },
          "413": {
            "description": "512000-byte request limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AgentKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "alp_test"
      },
      "agentKey": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
